.navBar{
    height: 100px !important;
  }

.main-container{
  width: 100%;
  height: 500px;
}

.left-side{
  width: 48%;
  background-color: #FAFAFA;
  margin: 1% 1%;
  float: left;
}

.right-side{
  width: 48%;
  background-color: #FAFAFA;
  margin: 1% 1%;
  float: left;
}